## Cloudflare Configuration
CLOUDFLARE_API_TOKEN=your_cloudflare_api_token_here
DOMAINS=replace_with_domain

## Cloudflare Proxy Status (Must be 'false' for VPN/Direct access)
PROXIED=false

## System Configuration
LOCAL_DNS=replace_with_dns
TZ=Europe/Berlin
